<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"/>
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  <style>
    html, body {
      background-color: #F7F8FA;
      font-family: 'Poppins', sans-serif;
      height: 100vh;
      color: #46444c;
      position: relative;
    }

    body:before {
      content: '';
      background: #5A45FF;
      top: 0;
      left: 0;
      right: 0;
      height: 6px;
      position: absolute;
    }

    * {
      margin: 0;
      padding: 0;
    }

    a {
      color: #5A45FF;
      text-decoration: none;
    }

    main {
      max-width: 620px;
      margin: auto;
      height: 100vh;
      padding: 0 30px;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .title {
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 10px;
      color: #17161A;
    }

    .subtitle {
      font-size: 26px;
      margin-bottom: 40px;
    }

    p {
      margin-bottom: 20px;
    }

    main ul {
      list-style: none;
    }

    main li {
      margin-bottom: 5px;
      position: relative;
      padding-left: 25px;
    }

    main li:before {
      content: '—';
      position: absolute;
      left: 0;
    }

    main code {
      font-size: 16px;
      background: #e6e2ff;
    }
  </style>
</head>
<body>
  <main>
    <nav class="navbar">
      <h3 class="logo"><a href="/">Newsie</a></h3>
      <ul>
        <li><a href="/about">about</a></li>
        @if(auth.user)
        <li>
          <a href="/logout" onclick="event.preventDefault();document.getElementById('logout').submit()">
            logout
            <form id="logout" action="/logout" method="POST">{{ csrfField() }}</form>
          </a>
        </li>
        <li><a href="/articles/new">new</a></li>
        @else
        <li><a href="/login">login</a></li>
        @endif

      </ul>
    </nav>
    <div class="content">
      @!section("page")
    </div>
  </main>
</body>
</html>
